@page "/fetchdata"

@using container_sysinfo.Data
@inject SysInfoService SysInfoService

<h1>System Information</h1>

@if (sysInfo == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>
        System: @sysInfo.RuntimeIdentifier <br />
        Framework: @sysInfo.FrameworkDescription <br />
        Available memory (MB): @sysInfo.AvailableMBytesMemory <br />
        Environment variables:
    <ul>
            @foreach (var env in sysInfo.EnvVariables)
            {
            <li>@env</li>
            }
    </ul>
    </p>
}

@code {
    private SysInfo sysInfo;

    protected override void OnInitialized()
    {
        sysInfo = SysInfoService.GetSysInfo();
    }
}
